$inter_font: 'Inter', sans-serif;
$abr_font: 'Abril Fatface', cursive;
$dos_font: 'Dosis', sans-serif;
$pop_font: 'Poppins', sans-serif;

$white: #fff;
$black: #000;
$base_color: #0E4DE3;
$base_color_1:  #c5e213;
$dl_section_bg: #f7f7f7;
$dl_section_bg_1: #f0f3f7;
$input_bg: #f6f7fa;
$menu_color: #fff;
$heading_color: #060a24;
$heading_color_1: #445363;
$text_color: #6A6A6A;
$text_color_1: #7c8189;
$text_color_2: #4b4b4b;
$border_color: #d6d9dc;
$icon_color: #9198a4;
$icon_color_1: #a3a8b0;

$big_device: '(min-width: 991px)';
$tab: '(max-width: 991px)';
$mobile:'(max-width: 767.98px)';
$xs_mobile:'(max-width: 576px)';
$extra_big_screen: 'only screen and (min-width: 1440px) and (max-width: 1679px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1439px)';
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1199.98px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991.98px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767.98px)';
