/** :::::::::::::::: info box style 5 css :::::::::::::::**/
.dl_info_box_section{
    &.dl_info_box_bg_2{
        @include background ("../img/icon_box_bg_2.png");
    }
}

.dl_single_info_box{
    &.style_5{
        @media #{$tab}{
            margin-top: 40px;
        }
        background-color: $white;
        text-align: center;
        padding: 60px 25px;
        position: relative;
        border-radius: 5px;
        @include transform_time (.3s);
        &:hover{
            box-shadow: 0px 15px 25px #E7E7E7;
        }
        
        .info_box_icon{
            height: 85px;
            width: 85px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 30px;
            background: linear-gradient(180deg, #FF6685 0%, #FF92D6 100%);
            border-radius: 15px;  
            &.bg_color_2{
                background: linear-gradient(180deg, #5BCB5A 0%, #B3E64E 100%);
            }  
            &.bg_color_3{
                background: linear-gradient(180deg, #764AFE 11.25%, #D04DFD 137.5%);
            }        
        }
        .dl_title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1;
        }
        .dl_description{
            font-size: 16px;
            line-height: 1.6;
            margin-top: 20px;
        }
        .read_more_btn{
            margin-top: 18px;
            &:hover{
                color: #2945FF;
            }
        }
    }
}
/** :::::::::::::::: info box style 5 css end :::::::::::::::**/