.dl_testimonial_slider.style_01 .single_testimonial_slider {
  text-align: center;
}
.dl_testimonial_slider.style_01 .single_testimonial_slider .sub_title {
  color: #FE4063;
  font-size: 18px;
  font-weight: 600;
}
.dl_testimonial_slider.style_01 .single_testimonial_slider .title {
  color: #232D3E;
  font-size: 40px;
  font-weight: 700;
}