/******** popular pricing style 08 here ********/
.dl_pricing_plan{
    &.dl_style_08{
        padding: 50px 50px 57px;
        background-color: #fff;
        position: relative;
        @include transform_time(.5s);
        border-radius: 20px;
        position: relative;
        z-index: 1;
        .dl_pricing_title{
            color: #222222;
            font-size: 23px;
            margin-bottom: 0;
            font-weight: 700;
            line-height: 28px;
            font-family: $pop_font;
            margin-bottom: 10px;
        }
        .dl_pricing_desc{
            color: #999999;
            font-size: 14px;
            font-family: $inter_font;
        }
        .dl_price{
            font-size: 50px;
            font-weight: 700;
            color: #0161FF;
            margin: 22px 0 28px;
            font-family: $pop_font;
            .dl_currency{
                font-size: 14px;
                align-self: flex-start;
                line-height: 1;
                display: inline-flex;
            }
            span{
                font-size: 15px;
                color: #0161FF;
            }
        }
        .dl_pricing_list{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                font-size: 14px;
                font-weight: 400;
                font-family: $pop_font;
                margin: 18px 0;
                display: block;
                i{
                    font-size: 12px;
                    color: #0161FF;
                    margin-right: 5px;
                }
            }
        }
        .dl_cu_btn{
            margin-top: 16px;
            padding: 14px 50px;
            line-height: 18px;
            border-radius: 50px;
        }
    }
}

/******** popular pricing style 08 end ********/