/******** popular pricing style 05 here ********/
.dl_pricing_plan_switcher {
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    display: inline-flex;
    @media #{$mobile}{
        flex-wrap: wrap;
        text-align: center;
    }
    .dl_toggle {
        margin: 10px;
        position: relative;
        width: 60px;
        height: 20px;
        border-radius: 100px;
        background-color: #ffdada;
        border: 1px solid #ffdada;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
        @media #{$mobile}{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .dl_toggler {
        position: relative;
        &.toggler--is-active {
            color: $base_color;
        }
        span {
            position: absolute;
            right: 0;
            top: -30px;
            font-size: 12px;
            color: $heading_color;
            height: 20px;
            line-height: 20px;
            width: 50px;
            text-align: center;
            background-color: #b7ffb7;
            border-radius: 5px;
            &:after {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                margin: 0 auto;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #b7ffb7;
                width: 8px;
                height: 5px;
                bottom: -5px;
            }
        }
    }
    .dl_check:checked~.dl_switch {
        right: 5px;
        left: 57.5%;
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0.08s, 0s;
    }
    .dl_switch {
        position: absolute;
        left: 0px;
        top: -6px;
        bottom: 2px;
        right: 57.5%;
        background-color: #ff7070;
        border-radius: 50%;
        z-index: 1;
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0s, 0.08s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        height: 20px;
        width: 20px;
        padding: 14px !important;
        margin-right: 0;

        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);

        &:after {
            display: none;
        }
    }
    &.dl_pricing_plan_switcher_style_02{
        @media (min-width: 991px){
            &.dl_pricing_plan_switcher{
                position: absolute;
                top: 55px;
                left: 62px;
            }
        }
        .dl_switch {
            left: 3px;
            top: 2px;
            height: 15px;
            width: 15px;
            padding: 5px !important;
        }
        .dl_toggle{
            width: 50px;
            height: 21px;
        }
        .dl_toggler {
            font-size: 13px;
            color: #000000;
            font-family: $pop_font;
            font-weight: 500;
        }
    }
}
.dl_pricing_part {
    position: relative;
    z-index: 1;
    .dl_switch {
        display: block;
    }
    .dl_check {
        position: absolute;
        display: block;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 6;
    }
    .dl_hide {
        display: none;
    }
}

//single pricing plan style 5 css
.dl_pricing_plan {
    &.dl_style_05 {
        position: relative;
        text-align: center;
        padding: 45px 65px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
        @include transform_time(.3s);
        margin-top: 30px;
        @media #{$mobile}{
            padding: 30px;
        }
        .dl_title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 24px;

            &.color_1 {
                color: #309bf2;
            }

            &.color_2 {
                color: #61c330;
            }

            &.color_3 {
                color: #ffa512;
            }
        }
        .dl_price {
            font-size: 48px;
            font-weight: 600;
            line-height: 33px;
            position: relative;
            display: inline-block;
            margin-bottom: 40px;
            small {
                display: inline-block;
                position: absolute;
                left: -15px;
                top: -10px;
                color: #060a24;
                font-size: 16px;
            }
            span {
                font-size: 16px;
                color: #677294;
                position: absolute;
                right: -40px;
                bottom: -9px;
            }
        }
        .dl_feature_list {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 38px;
            li {
                color: #6a7c92;
                font-size: 16px;
                margin: 11px 0;
            }
        }
        .dl_cu_btn {
            margin-top: 37px;
            border-radius: 50px;
            @media #{$mobile}{
                margin-top: 20px;
            }
        }
        &:hover {
            box-shadow: 0px 20px 40px 0px rgba(0, 33, 121, 0.08);
        }
    }
}
/******** popular pricing style 05 end  ********/