/******** testimonial style 2 css ********/
.dl_single_testimonial_slider{
    &.style_02{
        padding: 40px;
        background: #fff;
        box-shadow: 0px 3px 40px rgba(228, 228, 228, 0.3);
        border-radius: 10px;
        .dl_title{
            color: #5758e0;
            font-size: 21px;
            margin-bottom: 0;
        }
        .dl_rating_icon{
            i{
                font-size: 12px;
                color: #f5a623;
                letter-spacing: 4px;
                margin-bottom: 18px;
            }
        }
        .dl_text{
            display: flex;
            align-items: flex-start;
            font-size: 18px;
            line-height: 30px;
            color: #232D3E;
            margin-top: 7px;
            .dl_quotation_mark{
                margin-left: 15px;
                max-width: 38px;
            }
        }
        .dl_client_info{
            padding: 30px 0 0 70px;
            position: relative;
            @media #{$tab}{
                padding: 30px 0 0 80px;
            }
            .dl_client_img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: absolute;
                left: 0;
            }
            .dl_name{
                font-size: 16px;
                line-height: 1.34;
                margin-bottom: 0;
                color: #232F3F;
                font-weight: 600;
                margin-top: 5px;
            }
            .dl_position{
                color: #818488;
                font-size: 13px;
                letter-spacing: 1.38px;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }
}
/******** testimonial style 2 css end ********/